input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn {
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.container {
  margin-top: 3em;
}

.top h2,
p {
  text-align: center;
  padding: 5px;
  /* margin: 10px; */
}
form {
  margin-top: 20vh;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 40%;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: 1px 8px 24px 4px rgba(86, 91, 115, 0.15);
}
.forgot {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 18px;
}

.foot {
  padding-top: 3px;
  position: absolute;
  height: 40px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}

footer-signup {
  padding-top: 3px;
  position: relative;
  height: 40px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}
@media all and (max-width: 420px) {
  form {
    width: 80%;
  }
}
