input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn {
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.container {
  margin-top: 3em;
}

.top h2,
p {
  text-align: center;
  padding: 5px;
  /* margin: 10px; */
}
form {
  margin-top: 20vh;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 40%;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: 1px 8px 24px 4px rgba(86, 91, 115, 0.15);
}
.forgot {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 18px;
}

.foot {
  padding-top: 3px;
  position: absolute;
  height: 40px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}

footer-signup {
  padding-top: 3px;
  position: relative;
  height: 40px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}

/* Dashboard Styles here */
.sidenav {
  height: 80%;
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  /* background-color: #2376ae; */
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 70px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 500px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

@media all and (max-width: 420px) {
  form {
    width: 80%;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
